.tooltipCheckbox {
	display: none;
}
.toolTipIcon {	
	font-family: "Times New Roman", Times, serif;
	position:relative; /* Anything but static */
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	color: white;
	font-weight:bold;
	font-size:1em;
	line-height:1.3em;
	background-color: #91b2d2;
	margin-left: 0em;
	-webkit-border-radius:.75em;
	-moz-border-radius:.75em;
	border-radius:.75em;
	top: -.25em;
	left:0;
	text-indent: 0;
	text-align: center;
}
.tooltipCheckbox:checked + .toolTipIcon, .tooltipCheckbox:hover + .toolTipIcon {
	color: #fff;
	background-color: #628cb6;
	/* background-image: url("checked.png"); */
}
.tooltipBox {
	/*top:174px;*/
	z-index: 10;
	width: fit-content;
	position: absolute;
	background: #f0f7ff;
	border-radius:4px;
	padding: 6px 12px;
	font-family: arial;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgb(227, 225, 225);
	color: #271e3be6;
	border: 1px solid #3d344d;
}
.tooltipBox:after { /*Arrow*/
	content : " ";
	width: 0;
	height: 0;
	position:absolute;
	border-top: var(--tt-arrow-top);
	border-right: var(--tt-arrow-right);
	border-left: var(--tt-arrow-left);
	border-bottom: var(--tt-arrow-bottom);
	z-index: 10;
	left: var(--tt-arrow-pos-left);
	top: var(--tt-arrow-pos-top);
}
.tooltipBox:before { /*Arrow Border*/
	content : " ";
	width: 0;
	height: 0;
	position:absolute;
	border-top: var(--tt-arrow-head-top);
	border-right: var(--tt-arrow-head-right);
	border-left: var(--tt-arrow-head-left);
	border-bottom: var(--tt-arrow-head-bottom);
	z-index: 10;
	left: var(--tt-arrow-head-pos-left);
	top: var(--tt-arrow-head-pos-top);
}